[submodule "submodules/scss-mode"]
	path = submodules/scss-mode
	url = http://github.com/antonj/scss-mode.git
[submodule "submodules/php-mode"]
	path = submodules/php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "submodules/emmet-mode"]
	path = submodules/emmet-mode
	url = https://github.com/smihica/emmet-mode.git
[submodule "submodules/emacs-git-gutter"]
	path = submodules/emacs-git-gutter
	url = https://github.com/syohex/emacs-git-gutter.git
