[submodule "submodules/scss-mode"]
	path = submodules/scss-mode
	url = http://github.com/antonj/scss-mode.git
[submodule "submodules/enhanced-ruby-mode"]
	path = submodules/enhanced-ruby-mode
	url = https://github.com/jacott/Enhanced-Ruby-Mode.git
[submodule "submodules/php-mode"]
	path = submodules/php-mode
	url = https://github.com/ejmr/php-mode.git
